body {
    background-color: beige;

}

header {
    display : flex;
    justify-content: space-between;
    align-items: baseline;
}
.titulo h1{
    flex: 1;       

    background-color: aqua;
    text-align: center;
    border-radius: 50px
    
    
}



img{
    width: 50px;
}
#habilidades{
    display:flex;
    justify-content: space-around;
    
}nav ul li{
    color: rgb(236, 6, 6);
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline;
    justify-content: space-between
    
}


.exp {
    border-left: 4px dotted blue;
    padding-left: 10px;
}


 